.hero {
    display: flex;
    gap: 10px;
}
.left-side,
.right-side {
    width: 50%;
}
.left-side {
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-detail {
    padding-left: 56px;
}
.left-detail h3, .right-detail h3{
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.left-detail p{
    margin-top: 12px;
    text-align: justify;
    padding-right: 90px;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-women {
    width: 560px;
    height: 600px;
}

.img-women img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.hero-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.hero-box:nth-child(1) {
    background-color: aqua;
}
.hero-box:nth-child(2) {
    background-color: pink;
}
.hero-box:nth-child(3) {
    background-color: cadetblue;
}
.hero-box:nth-child(4) {
    background-color: slategray;
}
.right-detail {
    width: 60%;
}
.img-women1 {
    width: 200px;
    height: 260px;
}
.img-women1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.right-detail p{
    margin: 12px 0;
}
.left-detail button,
.right-detail button {
    border: none;
    background: none;
    font-weight: bold;
    padding-bottom: 4px;
    position: relative;
}

.left-detail button::before,
.right-detail button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: rgb(168, 17, 17);
}
@media (max-width: 768px){
    .hero{
        display: flex;
        flex-wrap: wrap;
    }
    .left-side,
    .right-side {
        width: 100%;
    }
    .grid-4{
        grid-template-columns: 1fr;
    }
}


