.product, .top-seller{
    width: 77%;
    margin: auto;
    margin-top: 25px;
}
.nav-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-left h2{
    position: relative;
    padding-bottom: 3px;
    font-size: 26px;
}
.nav-left h2::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background-color:  rgb(168, 17, 17);
}
.nav-right{
    display: flex;
    gap: 16px;
    list-style: none;
}
.nav-right a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    padding-bottom: 2px;
}

.nav-right a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: rgb(168, 17, 17);
    transition: .3s ease;   /* smooth animation */
}
.nav-right a:hover::before {
    width: 100%;
}

/* card */
.layout-product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card-product .card-img{
    width: 320px;
    height: 340px;
    display: block;
    margin: 0 auto;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.card-product .status, .price{ 
    font-size: 18px;
    text-align: center;
    margin: 6px 0;
}
.price{
    color: gray;
}
.card-product .rating{
    display: flex;
    justify-content: center;
    gap: 2px;
    color: gold;
}
.grid-seller{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.section{
    width: 33%;
}
.section h3{
    font-weight: bold;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.section h3::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 3px;
    background-color: brown;
}
.section-detail{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
}
.span .de{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.span .price{
    text-align: left;
    font-weight: bold;
    color: black;
}
.carousel-item {
    height: 500px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width : 768px){
    .product{
        width: 95%;
        margin: auto;
    }
    .nav-product .nav-right{
        display: none;
    }
    .layout-product{
        grid-template-columns: 1fr;
    }
    .grid-seller{
        display: block;
    }
    .top-seller{
        width: 95%;
    }
    .section-detail {
        display: flex;
        align-items: flex-start;
    }

    .section-detail img {
        width: 100%;
    }
    .section-detail .span {
        width: 100%; 
    }

}

